@model web_Aqua.Models.HomeModel


<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold text-warning">Theo dõi thêm</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <a href="https://www.facebook.com/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">32,986 Fans</span>
        </a>
        <a href="https://twitter.com/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">3,168 Followers</span>
        </a>

        <a href="https://www.instagram.com/" class="d-block w-100 text-white text-decoration-none mb-3" style="background-color: orangered;">
            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">8,129 Followers</span>
        </a>
        <a href="https://www.youtube.com/" class="d-block w-100 text-white text-decoration-none mb-3" style="background-color: red;">
            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">12,345 Subscribers</span>
        </a>

    </div>
</div>
<!-- Social Follow End -->

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold text-warning">Bài viết nổi bật</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">

        @foreach (var item in Model.listBlog.OrderByDescending(o => o.CreateOnUtc).Take(4))
        {
            <div class="d-flex align-items-center bg-white mb-4" style="height:110px;">
                <div>
                    <a href="~/Blog/Detail/@item.BlogID"> <img class="img-fluid " style="width:200px;height:90px" src="~/images/thumbnails/@item.Thumbnail" alt="ảnh bìa"> </a>
                </div>
                <div class=" p-3 w-100  d-flex flex-column justify-content-center border border-left-0">
                    <div class="mb-2">
                        <a href="~/Category/Index/@item.CategoryID" class="badge badge-success text-uppercase font-weight-semi-bold p-1 mr-2 text-white">@item.Category.Name</a>
                        <a class="text-body"><small>@item.CreateOnUtc.Value.ToString("dd MMMM yyyy")</small></a>
                    </div>
                    <a id="ellipsisTitlePartial" class="h6 m-0 text-secondary" href="~/Blog/Detail/@item.BlogID">@item.Title</a>
                </div>
            </div>
        }


    </div>
</div>
<!-- Popular News Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold text-warning">Bài viết khác</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        @foreach (var item in Model.listBlog.OrderBy(o => o.CreateOnUtc).Take(4))
        {
            <div class="d-flex align-items-center bg-white mb-4" style="height: 110px;">
                <div>

                    <a href="~/Blog/Detail/@item.BlogID"> <img class="img-fluid" style="width:200px;height:90px" src="~/images/thumbnails/@item.Thumbnail" alt="ảnh bìa"> </a>
                </div>

                <div class=" p-3 w-100  px-3 d-flex flex-column justify-content-center border border-left-0">
                    <div class="mb-2">
                        <a href="~/Category/Index/@item.CategoryID" class="badge badge-success text-uppercase font-weight-semi-bold p-1 mr-2 text-white">@item.Category.Name</a>
                        <a class="text-body" href=""><small>@item.CreateOnUtc.Value.ToString("dd MMMM yyyy")</small></a>
                    </div>
                    <a id="ellipsisTitlePartial" class="h6 m-0 text-secondary  " href="~/Blog/Detail/@item.BlogID">@item.Title</a>
                </div>
            </div>
        }
    </div>
</div>

<!-- Popular News End -->
<!-- Newsletter Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold ">Bạn là người mới?</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <p> <a class="btn btn link" href="~/Home/Login">Đăng nhập </a> | <a class="btn btn link" href="~/Home/Register">  Đăng ký </a> <br /> để xem tìm hiểu thêm về Aquaponics</p>
        <div class="input-group mb-2" style="width: 100%;">
            <input type="text" class="form-control form-control-lg" placeholder="Your Email">
            <div class="input-group-append">
                <a href="~/Home/ContactAndPolicy/Contact" class="btn btn-primary font-weight-bold px-3"><p class="pt-1">Liên hệ</p></a>
            </div>
        </div>
        <small>Chúng tôi cam kết bảo mật thông tin khách hàng</small>
    </div>
</div>
<!-- Newsletter End -->
<!-- Tags Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Danh mục</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            @foreach (var item in Model.listCategory)
            {
                <a href="~/Product/Category/@item.CategoryId" class="btn btn-sm btn-outline-secondary m-1">@item.Name</a>
            }
        </div>
    </div>
</div>
<!-- Tags End -->
<style>
    #ellipsisTitlePartial {
        padding: 5px;
        max-height: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-width: 100%;
    }
</style>

