@model web_Aqua.Context.ContactAndPolicy

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@section Styles1
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.css" rel="stylesheet">
}
<form method="post" enctype="multipart/form-data" asp-controller="ContactAndPolicy" asp-action="AddOrEdit" class="bg-white">
    @if (Model.Id > 0)
    {
        <div id="title">
            <h1> <a id="title" href="~/Admin/Blogs"> Danh sách bài viết</a> <a>/</a> Sửa thông tin</h1>
        </div>
    }
    else
    {
        <div id="title">
            <h1> <a id="title" href="~/Admin/Blogs"> Danh sách bài viết</a> <a>/</a> Thêm mới </h1>
        </div>
    }
    <hr color="#18b616" />
    <div class="card-body rounded">
        <dl>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="row">
                <div class="form-group row col-sm-12">
                    <div class="form-group  col-sm-2">
                        <label asp-for="@Model.KeyWord"></label>
                        <input type="text" class="form-control col-sm-9" asp-for="@Model.KeyWord " />
                    </div>
                    <div class="form-group col-sm-10">
                        <label asp-for="@Model.Name"></label>
                        <input type="text" class="form-control col-sm-9" asp-for="@Model.Name" />
                    </div>
                                
                </div>
            </div>


            <div class="form-group">
                    <label asp-for="@Model.Content"></label>
                    <textarea id="compose-textarea" class="form-control compose-textarea" asp-for="@Model.Content" multi"> </textarea>
                 <span asp-validation-for="Content" class="text-danger"> </span>

            </div>
        </dl>
        <div class="form-group row mx-2 mt-3 text-center">
            <div class="col-sm-12" style="font-size:25px">

                <button value="Submit" type="submit" class="btn btn-primary btn-lg" >
                    <i class="fas fa-check px-1"> </i>  Lưu
                </button>
                @if (Model.Id > 0)
                {
                    <a asp-action="AddOrEdit" asp-route-id="" class="btn btn-success btn-lg m-2">
                        <i class="far fa-plus-square px-1"></i>  Thêm mới
                    </a>
                }
                <a asp-action="Index" class="btn  btn-secondary btn-lg">
                    <i class="fas fa-list px-1"></i>  Danh sách
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts1
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#compose-textarea").summernote({

                minHeight: 200,
                maxHeight: 600,
                codemirror: {
                    theme: "monokai"
                },
                callbacks: {
                    onImageUpload1: function (files1) {
                        for (var i = 0; i < files1.length; i++) {

                            uploadImage1(files1[i]);
                        }
                    }
                },
                fontSizes: ['12', '14', '16', '18', '24', '36', '48'],
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ],
            });
        });
        function uploadImage1(fileImg) {
            var formData = new FormData();
            formData.append("uploadedFiles", fileImg);
            $.ajax({
                data: formData,
                type: "POST",
                url: '@Url.RouteUrl("imageupload")',
                cache: false,
                contentType: false,

                processData: false,
                success: function (FileUrl) {
                    var imgNode = document.createElement('img');
                    imgNode.src = FileUrl;
                    $("#compose-textarea").summernote('insertNode', imgNode);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    </script>
}

