@model web_Aqua.Models.HomeModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
	<!-- ========================= SECTION MAIN  ========================= -->
	<section class="section-main padding-y">
		<main class="card">
			<div class="card-body">

				<div class="row">
					<aside class="col-lg col-md-3 flex-lg-grow-0">
						<h6>Danh mục sản phẩm</h6>
						<nav class="nav-home-aside">
							<ul class="menu-category">
							
								@foreach(var item in Model.listCategory)
								{								
									<li> <a asp-action="Index" asp-controller="Category" asp-route-id="@item.CategoryId"> @item.Name </a></li>																		
								}
								</ul>
							</nav>					
					</aside> <!-- col.// -->
					<div class="col-md-9 col-xl-7 col-lg-7">

						<!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
						<div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
								<li data-target="#carousel1_indicator" data-slide-to="1"></li>
								<li data-target="#carousel1_indicator" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img style="height:500px" src="~/images/banners/banner5.jpg" alt="First slide">
								</div>

								<div class="carousel-item">
									<img style="height:500px" src="~/images/banners/banner2.jpg" alt="Third slide">
								</div>
								<div class="carousel-item">
									<img style="height:500px" src="~/images/banners/banner4.jpg" alt="Third slide">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
						<!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

					</div> <!-- col.// -->
					<div class="col-md d-none d-lg-block flex-grow-1">
						<aside class="special-home-right">
							<h6 class="bg-green text-center text-white mb-0 p-2">Phổ biến</h6>
							@foreach (var item in Model.listCategory.Where(n=>n.ShowOnHomePage==true).Take(4))
							{
								<div class="py-3 card-banner border-bottom">
									<div class="py-3" style="width:80%">
										<h6 class="card-title">@item.Name</h6>
										<a href="~/Category/Index/@item.CategoryId" class="btn btn-success btn-sm"> Xem ngay </a>
									</div>
									<img src="~/images/categories/@item.Avatar" width="130px" height="100px" class="img-bg">

								</div>
							}


				
						</aside>
					</div> <!-- col.// -->
				</div> <!-- row.// -->

			</div> <!-- card-body.// -->
		</main> <!-- card.// -->

	</section>
	<!-- ========================= SECTION MAIN END// ========================= -->
	<!-- =============== SECTION DEAL =============== -->
	<section class="padding-bottom">
		<div class="card card-deal">
			<div class="col-heading content-body">
				<header class="section-heading">
					<h3 class="section-title">Giá sốc</h3>
					<p>Áp dụng cho thành viên mới</p>
					<div class="timer">
						<div> <span class="num">29</span> <small>Days</small></div>
						<div> <span class="num">23</span> <small>Hours</small></div>
						<div> <span class="num">57</span> <small>Min</small></div>
						<div> <span class="num">02</span> <small>Sec</small></div>
					</div>
				
				</header><!-- sect-heading -->

			</div> <!-- col.// -->
			<div class="row no-gutters items-wrap">

				@foreach (var item in Model.listProduct.Where(n => n.Recommend == false).Take(4))
				{

					<div class="col-md col-6">
						<figure class="card-product-grid card-sm">
							<a href="@Url.Action("Detail", "Product", new{ID=item.ProductId})" class="img-wrap">
							   @*@Html.ActionLink(item.Name, "Detail", "Detail", new{ID=item.ProductId}, null)*@
								<img src="~/images/items/@item.Avatar">
							</a>
							<div class="text-wrap p-3">
								<a href="~/Product/Detail/@item.ProductId" class="title">@item.Name</a>
								<span class="badge badge-danger"> -20% </span>
							</div>
						</figure>
					</div> <!-- col.// -->
				}

				
			</div>
		</div>

	</section>
	<!-- =============== SECTION DEAL // END =============== -->


		<!-- =============== Đề xuất =============== -->
	<section class="padding-bottom-sm">

		<header class="section-heading heading-line">
			<h4 class="title-section text-uppercase">Sản phẩm đề xuất</h4>
		</header>

		<div class="row row-sm ">
			<div class="row row-sm">
				@try
				{
					foreach (var item in Model.listProduct.Where(n => n.Recommend == true).Take(6))
					{
						<div class="col-xl-2 col-lg-3 col-md-4 col-6" style="width:239px">
							
							<div class="card card-sm card-product-grid" >
								<a href=" @Url.Action("Detail", "Product", new{ID=item.ProductId})" class="img-wrap"> <img src="~/images/items/@item.Avatar"> </a>
								<figcaption class="info-wrap" >
									<a href="@Url.Action("Detail", "Product", new{ID=item.ProductId})" class="title">@item.Name</a>
									<div class="price mt-1">@item.Price </div> <!-- price-wrap.// -->
								</figcaption>
							</div>
						</div> <!-- col.// -->
					}
				}
				catch { }
			</div> <!-- row.// -->

		</div> <!-- row.// -->
	</section>
	<!-- =============== Đề xuất .//END =============== -->

	<!-- =============== SECTION 1 =============== -->
	<section class="padding-bottom">
		<header class="section-heading heading-line">
			<h4 class="title-section text-uppercase">Nhà lưới</h4>
		</header>

		<div class="card card-home-category">
			<div class="row no-gutters">
				<div class="col-md-3">

					<div class="home-category-banner bg-light-orange">
						<h5 class="title">Vật tư dùng để xây xựng nhà lưới, nhà màng.</h5>
						<p> Vật liệu tốt nhất được nhập từ nhiều quốc gia phù hợp với khí hậu Việt Nam </p>
						<a href=" @Url.Action("Index", "Category")" class="btn btn-outline-success rounded-pill">
							Xem ngay</a>
		@*				<img src="~/images/nhaluoi.jpg" class="img-bg">*@
					</div>

				</div> <!-- col.// -->
				<div class="col-md-9">
					<ul class="row no-gutters bordered-cols">
						@foreach (var item in Model.listCategory.Where(n => n.Inside != true))
						{
						<li class="col-6 col-lg-3 col-md-4">
								<a href=" @Url.Action("Index", "Category", new{ID=item.CategoryId})" class="item">
								<div class="card-body">
									<h6 class="title">@item.Name</h6>
									<img  style="width:130px; height:130px;" 
										  class="img-sm float-right" 
										  src="~/images/categories/@item.Avatar">
									<p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.CategoryId</p>
								</div>
							</a>
						</li>
						}
						
					</ul>
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
	</section>
	<!-- =============== SECTION 1 END =============== -->
	<!-- =============== SECTION 2 =============== -->
	<section class="padding-bottom">
		<header class="section-heading heading-line">
			<h4 class="title-section text-uppercase">Cây trồng</h4>
		</header>

		<div class="card card-home-category">
			<div class="row no-gutters">
				<div class="col-md-3">

					<div class="home-category-banner bg-light-orange">
						<h5 class="title">Các sản phẩm liên quan đến cây trồng </h5>
						<p>Hạt giống, tank chứa nước, timer hẹn giờ, giá thể,... Được nhập từ nhiều khu vực cũng như được sản xuất tại Việt Nam. Đảm bảo chất lượng cao, giá thành tốt. </p>
						<a href=" @Url.Action("Index", "Category")" class="btn btn-outline-success rounded-pill">Xem ngay</a>
				@*		<img src="~/images/caytrong.jpg" class="img-bg">*@
					</div>

				</div> <!-- col.// -->
				<div class="col-md-9">
					<ul class="row no-gutters bordered-cols">
						@foreach (var item in Model.listCategory.Where(n => n.Inside == true))
						{
							<li class="col-6 col-lg-3 col-md-4">
								<a href=" @Url.Action("Index", "Category", new{ID=item.CategoryId})" class="item">

									<div class="card-body">
										<h6 class="title">@item.Name  </h6>
										<img style="width:130px; height:130px;" 
											class="img-sm float-right" 
											src="~/images/categories/@item.Avatar">
										<p class="text-muted"><i class="fa fa-map-marker-alt"></i> @item.CategoryId</p>
									</div>
								</a>
							</li>
						}
						
					</ul>
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
	</section>
	<!-- =============== SECTION 2 END =============== -->
	

	<!-- =============== SECTION SERVICES =============== -->
	<section class="padding-bottom">

		<header class="section-heading heading-line">
			<h4 class="title-section text-uppercase">Một số bài viết</h4>
		</header>
		@await Html.PartialAsync("_ProductBottomPartial")

	</section>
	<!-- =============== SECTION SERVICES .//END =============== -->
	<!-- =============== SECTION REGION =============== -->
	<section class="padding-bottom">

		<header class="section-heading heading-line">
			<h4 class="title-section text-uppercase">Nhập khẩu</h4>
		</header>

		<ul class="row mt-4">
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/CN.png"> <span>China</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/DE.png"> <span>Germany</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/AU.png"> <span>Australia</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/RU.png"> <span>Russia</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/IN.png"> <span>India</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/GB.png"> <span>England</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/TR.png"> <span>Turkey</span> </a></li>
			<li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>

		</ul>
	</section>
	<!-- =============== SECTION REGION .//END =============== -->

	<article class="my-4 text-center">
        
	

	</article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
