@model  web_Aqua.Models.HomeModel

@{
	ViewData["Title"] = "Detail";

	Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="py-3 bg-light">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="~/Blog/Index">Bài viết</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.blog.Category.Name</li>
		</ol>
	</div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="row align-items-center">
                        <h1 class="ml-2 text-uppercase font-weight-bold"> @Html.Raw(Model.blog.Title)  </h1>

                    </div>
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3 ">
                        <div class="text-center">
                            <img class="img-fluid w-100  border border-secondary"
                                     src="~/images/thumbnails/@Model.blog.Thumbnail"
                                 style="height object-fit:cover;">
                        </div>
                       
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a href="~/Category/Index/@Model.blog.CategoryID" class="badge text-white badge-success text-uppercase font-weight-semi-bold p-2 mr-2">@Model.blog.Category.Name</a>
                                    <a class="text-body">@Html.Raw(Model.blog.CreateOnUtc.Value.ToString("dd MMMM yyyy"))</a>
                            </div>
                                <h4 class="mb-3 text-secondary font-weight-bold font-italic"> <strong> @Html.Raw(Model.blog.Description) </strong> </h4>
                                @Html.Raw(Model.blog.BlogContent)
                            </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2"
                                         src="~/images/users/@Model.blog.User.Avatar"
                                width="25" height="25" alt="">
                                    <span>@Model.blog.User.FirstName @Model.blog.User.LastName</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>123</span>
                            </div>

                        </div>
                        <p class="m-0 my-3 h4 text-uppercase font-weight-bold">sản phẩm đề xuất</p>
                        @await Html.PartialAsync("_ProductBottomPartial")
                   
                        </div>

   

                </div>
                <div class="col-lg-4 col-12" style="max-width:500px; min-width:10px; padding:10px;clear: both;">
                    @await Html.PartialAsync("_BlogPartial")
                </div>
            </div>         				
	
        </div>
       
</section>

