@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<web_Aqua.Context.Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="headings">
    <h2 id="title">Danh sách bài viết</h2>
    <span id="hr"></span>
</div>
<form method="get" enctype="multipart/form-data" asp-controller="Blogs" asp-action="Index">
    <div style="text-align: center;" class="d-block ml-auto mr-auto">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class=" h5 border border-success rounded <em>" , placeholder = "Nhập danh mục" })
        <input class="btn btn-link text-success <strong> " type="submit" value="Tìm kiếm" />
    </div>
    <div class="d-flex">
        <div class="py-3">
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Blog">
                <i class="fas fa-sync"></i>
            </a>

        </div>
        <div class="ml-1">
            <strong class="align-text-bottom" id="countrow"> @ViewBag.listBlogCount bài viết </strong>
        </div>

        <div class="pagination ml-auto py-2">
            @Html.PagedListPager(Model, page=>Url.Action("Index","Blogs", new {page=page}))
        </div>
    </div>
</form>

<table  id="casti_male" class="table  table-hover" ;>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BlogID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreateOnUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShowOnHomePage)
            </th>
            <th class="text-center">
                <a style="width:100px; font-size:16px;" asp-action="AddOrEdit" class="btn btn-primary btn-lg" asp-controller="Blogs">
                    <i class="far fa-plus-square"></i>   New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>

                <td style=" text-align: center;">
                    <div>
                        <img class="zoom"
                             style="width:120px; height:90px";
                             src="~/images/thumbnails/@item.Thumbnail"
                             alt="no image">
                    </div>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogID)
            </td>
            <td width="300">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td width="350" id="ellipsisTitle">
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreateOnUtc)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName )
            </td>
                @{
                    bool? hienThiweb = item.ShowOnHomePage;
                    if (hienThiweb == true)
                    {
                        <td>  Có </td>
                    }
                    else if (hienThiweb == false)
                    {
                        <td> Không </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td style=" text-align: center;">

                    <form asp-route-id="@item.BlogID" asp-action="Delete" asp-controller="Blogs">
                        <div class="btn-group btn-group-sm">
                           
                            <a asp-route-id="@item.BlogID" asp-controller="Blogs" asp-action="AddOrEdit" class="btn btn-sm btn-warning mr-3">
                                <i class="far fa-edit"></i>
                            </a>
                            @* xoá sản phẩm không dùng view Delete*@
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('Bạn có muốn xoá Bài viết [ @item.BlogID - @item.Title] ?')">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </form>

                </td>
        </tr>
}
    </tbody>
</table>
<style>
    #ellipsisTitle {
        max-height:70px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>
