@model web_Aqua.Models.HomeModel
@{
	ViewData["Title"] = "Detail";

	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	decimal _price = Decimal.Parse(Model.product.Price);

}

<section class="py-3 bg-light">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="~/Product/Index">Danh sách sản phẩm</a></li>
			<li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
		</ol>
	</div>
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y" >
	<div class="container">
		<div class="row">

	
			<div class="col-sm-8">
				<!-- ============================ ITEM DETAIL ======================== -->
				<div class="row">
					<aside class="col-md-6">
						<div class="card text-center mt-4">

							<img  src="~/images/items/@Model.product.Avatar">

						</div> <!-- card.// -->
					</aside>
					<main class="col-md-6">
						<article class="product-info-aside ml-5">

							<h2 class="title mt-3">@Model.product.Name </h2>
							<hr />
							<div class="rating-wrap my-3">
								<ul class="rating-stars">
									<li style="width:80%" class="stars-active">
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
									<li>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
								</ul>
								<small class="label-rating text-muted">132 reviews</small>
								<small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> @Model.product.Quantity - @Model.product.Inventory </small>
							</div> <!-- rating-wrap.// -->

							<div class="mb-3">
								<var class="price h4"> @(_price.ToString("n0"))</var>
								<span class="text-muted">Chưa gồm thuế</span>
							</div> <!-- price-detail-wrap .// -->

							<p>
								@Model.product.ShortDescription
							</p>


							<dl class="row">
								<dt class="col-sm-3">Xuất xứ</dt>
								<dd class="col-sm-9"><a href="#">@ViewBag.company</a></dd>


								<dt class="col-sm-3">Bảo hành</dt>
								<dd class="col-sm-9">06 tháng</dd>

								<dt class="col-sm-3">Thời gian nhận hàng</dt>
								<dd class="col-sm-9">3-4 ngày</dd>

								<dt class="col-sm-3">Số lượng có sẵn</dt>
								<dd class="col-sm-9">@Model.product.Inventory</dd>
							</dl>
							<hr />

							<div class="form-row  mt-4">

								<div class="form-group col-md">
									<a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.product.ProductId" class="btn  btn-primary">
										<i class="fas fa-shopping-cart"></i> <span class="text">Thêm giỏ hàng</span>

									</a>
									<a href="~/Home/Contact" class="btn btn-light">
										<i class="fas fa-envelope"></i> <span class="text">Liên hệ </span>
									</a>
								</div> <!-- col.// -->
							</div> <!-- row.// -->

						</article> <!-- product-info-aside .// -->
					</main> <!-- col.// -->
				</div> <!-- row.// -->


				<div class="row mt-3">
					<div class="col-md-12">
						<h4 class="title-description">Chi tiết sản phẩm</h4>		
						<dl class="row">

							<dt class="col-sm-2">Sản phẩm: </dt>
							<dd class="col-sm-10"> @Model.product.Name</dd>
		
							<dt class="col-sm-2">Số lượng có sẵn</dt>
							<dd class="col-sm-10">@Model.product.Inventory <span class="text-muted ml-3">   (sỉ & lẻ LH:0969140931)</span> </dd>

							<dt class="col-sm-2">Công ty: </dt>
							<dd class="col-sm-10"> @Model.product.Brand.Company</dd>

							<dt class="col-sm-2">Quốc gia: </dt>
							<dd class="col-sm-10"> @Model.product.Brand.Nation</dd>
						</dl>
						<hr />
						<p class="mt-3">  @Model.product.FullDescription </p>
		
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</div> <!-- row.// -->

			<div class="col-sm-4">
				@await Html.PartialAsync("_BlogPartial")
			</div> <!	-- row.// -->
		</div>


	</div> <!-- container .//  -->
</section>
