@model web_Aqua.Context.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="AddOrEdit" class="bg-white p-3">
    @*<form autocomplete="off" asp-controller="Product" asp-action="Edit">*@

    <div id="title">
        <h1> <a id="title" href="~/Admin/Product"> Danh sách sản phẩm </a> <a>/</a> Xem chi tiết </h1>
    </div>
    <hr color="#18b616" />
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <dd class="col-sm-12">
                            <div class="text-center">
                                <input type="hidden" asp-for="ProductId" class="form-control" />
                                <input type="hidden" asp-for="Avatar" class="form-control" />


                                @if (Model.Avatar != null)
                                {
                                    <img id="imgViewer" class="profile-user-img img-fluid"
                                         style=" max-width:350px;  max-height:350px; margin-bottom:10px; width:100%; height:auto; backdrop-filter;   "
                                         src="~/images/items/@Model.Avatar"
                                         alt="ảnh sản phẩm" />
                                }
                                else
                                {
                                    <img id="imgViewer" class="profile-user-img img-fluid"
                                         style=" max-width:350px;  max-height:350px; margin-bottom:10px; width:100%; height:auto; backdrop-filter;   "
                                         src="~/images/avatars/NoImage.jpg"
                                         alt="ảnh sản phẩm" />

                                }


                                <div class="form-group">

                                    <div class="custom-file">
                                        <input class="custom-file-input"
                                               asp-for="ImageUpload"
                                               id="FLFrontImage"
                                               type="file" name="files"
                                               multiple
                                               onchange="document.getElementById('imgViewer').src = window.URL.createObjectURL(this.files[0])" />
                                        <label asp-for="ImageUpload" for="FLFrontImage" class="custom-file-label">@Model.Avatar</label>

                                    </div>

                                </div>
                            </div>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <div class="form-group row ">
                                        <label asp-for="CategoryId" class="col-sm-6 col-form-label" id="label-column"> </label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(m=>m.CategoryId, ViewBag.listCategory as SelectList, new {@class = "form-control"})

                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group row ">
                                        <label asp-for="BrandId" class="col-sm-6 col-form-label" id="label-column"></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(m=>m.BrandId, ViewBag.listBrand as SelectList, new {@class = "form-control"})
                                        </div>
                                    </div>

                                </li>
                            </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class=" border border-light rounded ">
                    <form class="form-horizontal">
                        <div class="form-group row mx-2 mt-4">
                            <label asp-for="Name" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="Name" disabled />
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="ShortDescription" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="ShortDescription" disabled/>
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="FullDescription" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <textarea asp-for=" FullDescription" class="form-control" disabled rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="Quantity" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="Quantity" disabled />
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="Price" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="Price" disabled />
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="Inventory" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="Inventory" disabled />
                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="Recommend" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m=>m.Recommend, ViewBag.ProductType as SelectList, new {@class = "form-control", @disabled = "disabled"})


                            </div>
                        </div>
                        <div class="form-group row mx-2">
                            <label asp-for="ShowOnHomePage" class="col-sm-2 col-form-label" id="label-column"></label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m=>m.ShowOnHomePage, ViewBag.ProductShow as SelectList, new {@class = "form-control", @disabled = "disabled"})


                            </div>
                        </div>

                    </form>
                </div>

                <form>
                    <div class="form-group row mx-2 text-center mt-2">
                        <div class="col-sm-12" style="font-size:25px">
                            <button value="Submit" type="submit" asp-route-id="@Model.ProductId" asp-controller="Product" asp-action="AddOrEdit" class="btn btn-warning btn-lg">
                                <i class="fas fa-check px-1"> </i>  Chỉnh sửa
                            </button>
                            @if (Model.ProductId > 0)
                            {
                                <a asp-action="AddOrEdit" asp-route-id="" asp-controller="Product" class="btn btn-success btn-lg">
                                    <i class="far fa-plus-square px-1"></i>  Thêm mới
                                </a>
                            }

                            <a asp-action="Index" class="btn  btn-secondary btn-lg">
                                <i class="fas fa-list px-1"></i>  Danh sách
                            </a>

                        </div>
                    </div>
                </form>

             
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</form>
