@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;

@model X.PagedList.IPagedList<web_Aqua.Context.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




@*Tittle*@
<div id="headings">
    <h2 id="title">Danh sách tài khoản</h2>
    <span id="hr"></span>
</div>
<div class="card-body" style="max-width: 1350px; margin:0 auto; float:none;">

    @*Search*@


    @*Paging*@


    <form method="get" enctype="multipart/form-data" asp-controller="User" asp-action="Index">
        <div style="text-align: center;" class="d-block ml-auto mr-auto">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class=" mw-100 h5 border border-success rounded  " , placeholder = "Tìm theo gmail" })
            <input class="btn btn-link text-success <strong> " type="submit" value="Tìm kiếm" />
        </div>
        <div class="d-flex">
            <div class="py-3">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="User">
                    <i class="fas fa-sync"></i>
                </a>

            </div>
            <div class="ml-1">

                <strong class="align-text-bottom" id="countrow"> @ViewBag.listUserCount tài khoản </strong>
            </div>


            <div class=" pagination ml-auto py-2">
                @Html.PagedListPager(Model, page=>Url.Action("Index","User", new {page=page}))
            </div>
        </div>
    </form>



    <div class=" justify-content-center">
        @*Table*@
        <table id="casti_male" class="table  table-hover" style="overflow:hidden; white-space: nowrap; ">
            <thead>
                <tr style="text-align:center">
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UserId)

                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Email)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CreateOnUtc)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdmin)

                    </th>

                    <th class="text-center">
                        <a style="width:100px; font-size:16px;" asp-action="AddOrEdit" class="btn btn-primary btn-lg" asp-controller="User">
                            <i class="far fa-plus-square"></i>   Thêm
                        </a>
                    </th>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style=" text-align: center;">
                            <div>
                                <img class="zoom"
                                     style="width:120px;  
                                            height:120px;border-radius:50%;
                                            -moz-border-radius:50%;
                                            -webkit-border-radius:50%;"
                                     src="~/images/users/@item.Avatar"
                                     alt="no image">
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td id="short">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td id="short">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td id="short">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td id="short">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td id="short">
                            @Html.DisplayFor(modelItem => item.CreateOnUtc)
                        </td>

                        @{
                            bool? _isadmin= item.IsAdmin;
                            if (_isadmin == true)
                            {
                                <td>  Admin </td>
                            }
                            else if (_isadmin == false)
                            {
                                <td> Khách hàng </td>
                            }
                        }

                        <td style=" text-align: center;">

                            <form asp-route-id="@item.UserId" asp-action="Delete" asp-controller="User">
                                <div class="btn-group btn-group-sm">
                                    <a style="width:30px" asp-controller="User" asp-route-id="@item.UserId" asp-action="Details" class="btn btn-sm btn-info">
                                        <i class="fas fa-search"></i>

                                    </a>
                                    <a asp-route-id="@item.UserId" asp-controller="User" asp-action="AddOrEdit" class="btn btn-sm btn-warning mx-1">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    @* xoá sản phẩm không dùng view Delete*@
                                    <button type="submit" class="btn btn-sm btn-danger"
                                            onclick="return confirm('Bạn có muốn xoá tài khoản [ @item.UserId - @item.FirstName @item.LastName ] ?')">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

        @*Bottom Paging*@
        <div class="pagination float-right">
            @Html.PagedListPager(Model, page=>Url.Action("Index","User", new {page=page}))
        </div>


    </div>
</div>


